<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @orderitem.order_id %>
</p>

<p>
  <strong>Album:</strong>
  <%= @orderitem.album_id %>
</p>

<p>
  <strong>Track:</strong>
  <%= @orderitem.track_id %>
</p>

<p>
  <strong>Itemtype:</strong>
  <%= @orderitem.itemtype_id %>
</p>

<p>
  <strong>Ordertype:</strong>
  <%= @orderitem.ordertype_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @orderitem.order_id %>
</p>

<%= link_to 'Edit', edit_orderitem_path(@orderitem) %> |
<%= link_to 'Back', orderitems_path %>
