<p id="notice"><%= notice %></p>

<p>
  <strong>Custfirstname:</strong>
  <%= @customer.custfirstname %>
</p>

<p>
  <strong>Custlastname:</strong>
  <%= @customer.custlastname %>
</p>

<p>
  <strong>Custstreet:</strong>
  <%= @customer.custstreet %>
</p>

<p>
  <strong>Custcity:</strong>
  <%= @customer.custcity %>
</p>

<p>
  <strong>Custstate:</strong>
  <%= @customer.custstate %>
</p>

<p>
  <strong>Custzip:</strong>
  <%= @customer.custzip %>
</p>
<hr>
<p> This customer's orders:</p>
<table>
  <tr>
    <th>Payment Type</th>
    <th>Date</th>
  </tr>
  <% @orders.each do |x| %>
  <tr>
    <td><%= x.paymenttype %></td>
     <td><%= x.orderdate %> </td>
  </tr>
  <% end %>
  </table>
<hr>
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
