<div class="footer-grid">
  <div class="footerlogo"><%= link_to "small LOGO & link home", home_index_path %></div>
  <div class="copyright">Admin Pages: | <%= link_to "orderitems", orderitems_path %> | <%= link_to "ordertypes", ordertypes_path %> | <%= link_to "itemtypes", itemtypes_path %> | <%= link_to "genres", genres_path %> | <%= link_to "artists", artists_path %> | <%= link_to "albums", albums_path %> | <%= link_to "customers", customers_path %> | <%= link_to "orders", orders_path %> | <%= link_to "tracks", tracks_path %> | <br> | <%= link_to "help", home_help_path %> | <%= link_to "privacy policy ", home_privacy_path %> | <%= link_to "copyright & legal stuff", home_legal_path %> | </div>
</div>