<div class="header-grid">
  <div class="logo"><%=  image_tag("tempLogo2.jpg", align: 'left', size: "160x42" )%><%= link_to "Welcome to chiTunes", home_index_path %></div>
  <div class="about"><%= link_to "About chiTunes", home_about_path %></div>
  <div class="contact"><%= link_to "How to contact us", home_contact_path %></div>
  <div class="contact">Releases link goes here</div>
  <div class="contact">Artists link goes here</div>
  <div class="contact">Link</div>
  <div class="contact">Link</div>
  <div class="contact">link to profile</div>
  <div class="search"><td width='100%' align='left'>
    <%= form_tag :controller => 'home', :action => 'search' do %>
      <p>Search:
        <%= text_field_tag 'searchinput', @searchinput %> </p>
    <% end %>
  </td></div>
  <div class="feature3">Log In</div>
  <div class="feature4">Create Account</div>
  <div class="feature3">feature item</div>
  <div class="feature4">feature item</div>
  <div class="feature4">feature item</div>
  <div class="feature4">feature item</div>
  <div class="feature4">feature item</div>
  <div class="feature4">feature item</div>
  <div class="feature4">feature item</div>
</div>
